@import "@/assets/scss/abstracts/_variables.scss";

:root {
    --size-base: 8px;

    --size-xs: 12px;
    --size-s: 16px;
    --size-m: 20px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-xxl: 48px;

    --color-base-dark: #2C3531;
    --color-base-light: #D1E8E2;
    --color-base-primary: #116466;
    --color-base-secondary: #D9B08C;
    --color-base-tertiary: #FFCB9A;
    --color-base-white: #FFFFFF;

    
    --color-primary-100: #CEF7EA;
    --color-primary-200: #9FEFDD;
    --color-primary-300: #68D1C1;
    --color-primary-400: #3DA39C;
    --color-primary-500: #116466;
    --color-primary-600: #0C4F57;
    --color-primary-700: #083C49;
    --color-primary-800: #052C3B;
    --color-primary-900: #032030;
    
    --color-success-100: #DAF9D2;
    --color-success-200: #B1F4A8;
    --color-success-300: #79DE77;
    --color-success-400: #4FBD57;
    --color-success-500: #219134;
    --color-success-600: #187C32;
    --color-success-700: #106830;
    --color-success-800: #0A542B;
    --color-success-900: #064528;
    
    --color-info-100: #CAEDFD;
    --color-info-200: #96D8FB;
    --color-info-300: #61B9F4;
    --color-info-400: #3A9AEA;
    --color-info-500: #006EDD;
    --color-info-600: #0055BE;
    --color-info-700: #003F9F;
    --color-info-800: #002C80;
    --color-info-900: #001F6A;
    
    --color-warning-100: #FDF4CB;
    --color-warning-200: #FCE697;
    --color-warning-300: #F8D263;
    --color-warning-400: #F1BD3C;
    --color-warning-500: #E89E00;
    --color-warning-600: #C78100;
    --color-warning-700: #A76600;
    --color-warning-800: #864E00;
    --color-warning-900: #6F3D00;
    
    --color-error-100: #FCE0D4;
    --color-error-200: #F9BBAB;
    --color-error-300: #EE8B7E;
    --color-error-400: #DE5F5C;
    --color-error-500: #C92C36;
    --color-error-600: #AC2035;
    --color-error-700: #901633;
    --color-error-800: #740E30;
    --color-error-900: #60082D;
}